*{
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
}

body {
	font-family: 	'Cantarell', 'Droid Sans', 'Fira Sans', 'Helvetica Neue'
					'Oxygen', 'Roboto', 'Segoe UI', 'Ubuntu', 
					sans-serif;
}

code {
	font-family: 	Consolas, Menlo, Monaco, source-code-pro, 
					'Courier New', 
					monospace;
}

#root{
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}